{% block header %}
<nav class="top-app-bar navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid px-4">
        <!-- Drawer toggle button-->
        <!-- Navbar items-->
        <div class="d-flex align-items-center mx-3 me-lg-0">
            <!-- Navbar buttons-->
            <div class="d-flex">
                <!-- Messages dropdown-->
                <div class="dropdown dropdown-notifications d-none d-sm-block">
                    <button class="btn btn-lg btn-icon dropdown-toggle me-3" id="dropdownMenuMessages" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">mail_outline</i></button>
                    <ul class="dropdown-menu dropdown-menu-end me-3 mt-3 py-0 overflow-hidden" aria-labelledby="dropdownMenuMessages">
                        <li><h6 class="dropdown-header bg-primary text-white fw-500 py-3">Messages</h6></li>
                        <li><hr class="dropdown-divider my-0" /></li>
                        <li>
                            <a class="dropdown-item unread" href="#!">
                                <div class="dropdown-item-content">
                                    <div class="dropdown-item-content-text"><div class="text-truncate d-inline-block" style="max-width: 18rem">Hi there, I had a question about something, is there any way you can help me out?</div></div>
                                    <div class="dropdown-item-content-subtext">Mar 12, 2023 &middot; Juan Babin</div>
                                </div>
                            </a>
                        </li>
                        <li><hr class="dropdown-divider my-0" /></li>
                        <li>
                            <a class="dropdown-item" href="#!">
                                <div class="dropdown-item-content">
                                    <div class="dropdown-item-content-text"><div class="text-truncate d-inline-block" style="max-width: 18rem">Thanks for the assistance the other day, I wanted to follow up with you just to make sure everyting is settled.</div></div>
                                    <div class="dropdown-item-content-subtext">Mar 10, 2023 &middot; Christine Hendersen</div>
                                </div>
                            </a>
                        </li>
                        <li><hr class="dropdown-divider my-0" /></li>
                        <li>
                            <a class="dropdown-item" href="#!">
                                <div class="dropdown-item-content">
                                    <div class="dropdown-item-content-text"><div class="text-truncate d-inline-block" style="max-width: 18rem">Welcome to our group! It's good to see new members and I know you will do great!</div></div>
                                    <div class="dropdown-item-content-subtext">Mar 8, 2023 &middot; Celia J. Knight</div>
                                </div>
                            </a>
                        </li>
                        <li><hr class="dropdown-divider my-0" /></li>
                        <li>
                            <a class="dropdown-item py-3" href="#!">
                                <div class="d-flex align-items-center w-100 justify-content-end text-primary">
                                    <div class="fst-button small">View all</div>
                                    <i class="material-icons icon-sm ms-1">chevron_right</i>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- Notifications and alerts dropdown-->
                <div class="dropdown dropdown-notifications d-none d-sm-block">
                    <button class="btn btn-lg btn-icon dropdown-toggle me-3" id="dropdownMenuNotifications" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">notifications</i></button>
                    <ul class="dropdown-menu dropdown-menu-end me-3 mt-3 py-0 overflow-hidden" aria-labelledby="dropdownMenuNotifications">
                        <li><h6 class="dropdown-header bg-primary text-white fw-500 py-3">Alerts</h6></li>
                        <li><hr class="dropdown-divider my-0" /></li>
                        <li>
                            <a class="dropdown-item unread" href="#!">
                                <i class="material-icons leading-icon">assessment</i>
                                <div class="dropdown-item-content me-2">
                                    <div class="dropdown-item-content-text">Your March performance report is ready to view.</div>
                                    <div class="dropdown-item-content-subtext">Mar 12, 2023 &middot; Performance</div>
                                </div>
                            </a>
                        </li>
                        <li><hr class="dropdown-divider my-0" /></li>
                        <li>
                            <a class="dropdown-item" href="#!">
                                <i class="material-icons leading-icon">check_circle</i>
                                <div class="dropdown-item-content me-2">
                                    <div class="dropdown-item-content-text">Tracking codes successfully updated.</div>
                                    <div class="dropdown-item-content-subtext">Mar 12, 2023 &middot; Coverage</div>
                                </div>
                            </a>
                        </li>
                        <li><hr class="dropdown-divider my-0" /></li>
                        <li>
                            <a class="dropdown-item" href="#!">
                                <i class="material-icons leading-icon">warning</i>
                                <div class="dropdown-item-content me-2">
                                    <div class="dropdown-item-content-text">Tracking codes have changed and require manual action.</div>
                                    <div class="dropdown-item-content-subtext">Mar 8, 2023 &middot; Coverage</div>
                                </div>
                            </a>
                        </li>
                        <li><hr class="dropdown-divider my-0" /></li>
                        <li>
                            <a class="dropdown-item py-3" href="#!">
                                <div class="d-flex align-items-center w-100 justify-content-end text-primary">
                                    <div class="fst-button small">View all</div>
                                    <i class="material-icons icon-sm ms-1">chevron_right</i>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- User profile dropdown-->
                <div class="dropdown">
                    <button class="btn btn-lg btn-icon dropdown-toggle" id="dropdownMenuProfile" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">person</i></button>
                    <ul class="dropdown-menu dropdown-menu-end mt-3" aria-labelledby="dropdownMenuProfile">
                        <li>
                            <a class="dropdown-item" href="#!">
                                <i class="material-icons leading-icon">person</i>
                                <div class="me-3">Profile</div>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#!">
                                <i class="material-icons leading-icon">settings</i>
                                <div class="me-3">Settings</div>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#!">
                                <i class="material-icons leading-icon">help</i>
                                <div class="me-3">Help</div>
                            </a>
                        </li>
                        <li><hr class="dropdown-divider" /></li>
                        <li>
                            <a class="dropdown-item" href="#!">
                                <i class="material-icons leading-icon">logout</i>
                                <div class="me-3">Logout</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
{% endblock %}