{% block sidebar %}
<div id="layoutDrawer_nav">
    <!-- Drawer navigation-->
    <nav class="drawer accordion drawer-dark bg-dark" id="drawerAccordion">
        <div style="text-align: center;">
            <a href="/">
                <img src="{{ url_for('static', filename='images/logo-small.png') }}" style="width: 50%; display: inline-block;">
            </a>
            <div style="display: inline-block; text-align: center; width: 100%;">
                <a href="/" class="navbar-brand" style="display: inline-block;">
                    <h6 class="text-uppercase font-monospace text-white">
                        DAMN VULNERABLE DRONE
                    </h6>
                </a>
            </div>
        </div>
        <div class="drawer-menu">
            <div class="nav">
                <div class="drawer-menu-divider"></div>
                <!-- Drawer link (Dashboards)-->
                <a class="nav-link active" href="/simulator">
                    <div class="nav-link-icon"><i class="material-icons">play_arrow</i></div>
                    Simulator
                </a>
                <!-- Drawer link (Components)-->
                <a class="nav-link" href="/simulator">
                    <div class="nav-link-icon"><i class="material-icons">flag</i></div>
                    Getting Started
                </a>
                <!-- Drawer link (Forms)-->
                <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseSimulatorGuide" aria-expanded="false" aria-controls="collapseForms">
                    <div class="nav-link-icon"><i class="material-icons">help_center</i></div>
                    Simulator User Guide
                    <div class="drawer-collapse-arrow"><i class="material-icons">expand_more</i></div>
                </a>
                <!-- Nested drawer nav (Forms)-->
                <div class="collapse" id="collapseSimulatorGuide" aria-labelledby="headingOne" data-bs-parent="#drawerAccordion">
                    <nav class="drawer-menu-nested nav">
                        <a class="nav-link" href="forms-inputs.html">User Interface</a>
                        <a class="nav-link" href="forms-checks-and-radios.html">System Health Check</a>
                        <a class="nav-link" href="forms-input-groups.html">Basic Operations</a>
                        <a class="nav-link" href="forms-range.html">Manual Testing Containers</a>
                        <a class="nav-link" href="forms-select.html">Troubleshooting</a>
                    </nav>
                </div>
                <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseLearning" aria-expanded="false" aria-controls="collapseLearning">
                    <div class="nav-link-icon"><i class="material-icons">support</i></div>
                    Learning Resources
                    <div class="drawer-collapse-arrow"><i class="material-icons">expand_more</i></div>
                </a>
                <!-- Nested drawer nav (Forms)-->
                <div class="collapse" id="collapseLearning" aria-labelledby="headingOne" data-bs-parent="#drawerAccordion">
                    <nav class="drawer-menu-nested nav">
                        <a class="nav-link" href="forms-inputs.html">Aircrack-ng</a>
                        <a class="nav-link" href="forms-checks-and-radios.html">Wireshark</a>
                        <a class="nav-link" href="forms-input-groups.html">MAVLink</a>
                        <a class="nav-link" href="forms-range.html">MAVProxy</a>
                        <a class="nav-link" href="https://ardupilot.org/copter/index.html">ArduPilot Copter</a>
                        <a class="nav-link" href="forms-select.html">Gazebo</a>
                        <a class="nav-link" href="forms-select.html">SwarmSec</a>
                    </nav>
                </div>
                <a class="nav-link" href="/simulator">
                    <div class="nav-link-icon"><i class="material-icons">warning</i></div>
                    Attack Scenarios
                </a>
                <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseSolutions" aria-expanded="false" aria-controls="collapseForms">
                    <div class="nav-link-icon"><i class="material-icons">support</i></div>
                    Solutions (Spoilers)
                    <div class="drawer-collapse-arrow"><i class="material-icons">expand_more</i></div>
                </a>
                <!-- Nested drawer nav (Forms)-->
                <div class="collapse" id="collapseSolutions" aria-labelledby="headingOne" data-bs-parent="#drawerAccordion">
                    <nav class="drawer-menu-nested nav">
                        <a class="nav-link" href="forms-inputs.html">User Interface</a>
                        <a class="nav-link" href="forms-checks-and-radios.html">System Health Check</a>
                        <a class="nav-link" href="forms-input-groups.html">Basic Operations</a>
                        <a class="nav-link" href="forms-range.html">Manual Testing Containers</a>
                        <a class="nav-link" href="forms-select.html">Troubleshooting</a>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Drawer footer        -->
        <div class="drawer-footer border-top">
            <div class="d-flex align-items-center">
                <i class="material-icons text-muted">settings</i>
                <div class="ms-3">
                    <div class="caption">Mode:</div>
                    <div class="small fw-500">Beginner</div>
                </div>
            </div>
        </div>
    </nav>
</div>
{% endblock %}