<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Companion Computer Web Interface{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <style>
        body {
            display: flex;
        }
        .sidebar {
            min-width: 200px;
            max-width: 200px;
            background-color: #f8f9fa;
            padding: 15px;
            height: 100vh;
        }
        .content {
            flex-grow: 1;
            padding: 20px;
        }
        .nav-link.active {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="sidebar">
        <nav class="nav flex-column">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/telemetry/flight-controller">Flight Controller</a>
            <a class="nav-link" href="/logs/flight-logs">Flight Logs</a>
            <a class="nav-link" href="/wifi/wifi-network">Wifi Network</a>
            <a class="nav-link" href="/camera/camera-stream">Camera Streaming</a>
        </nav>
    </div>
    <div class="content">
        <div id="error" style="color: red; display: none;"></div>
        {% block content %}{% endblock %}
    </div>
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
