{% extends "base.html" %}

{% block title %}Home - Companion Computer Web Interface{% endblock %}

{% block content %}
<h1>Welcome to the Damn Vulnerable Companion Computer Web Interface</h1>
<p class="lead">This is the main splash page. Navigate to the Flight Controller page to manage your flight controller.</p>
<a href="/telemetry/flight-controller" class="btn btn-primary">Go to Flight Controller</a>

<!-- Make a request to /config to display current config settings here -->
<div id="config"></div>
{% endblock %}

{% block scripts %}
<script>
    $.getJSON('/config', function(data) {
        $('#config').html('<h2>Current Config</h2><pre>' + JSON.stringify(data, null, 2) + '</pre>');
    });
</script>
{% endblock %}
