<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Damn Vulnerable Drone is an intentionally vulnerable drone hacking simulator based on the popular ArduPilot/MAVLink architecture, providing a realistic environment for hands-on drone hacking." />
        <meta name="author" content="Nick Aleks" />
        <title>Damn Vulnerable Drone - 404 Error</title>
        <!-- Load Favicon-->
        <link href="{{ url_for('static', filename='images/favicon.png') }}" rel="shortcut icon" type="image/png" />
        <!-- Load Material Icons from Google Fonts-->
        <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet" />
        <!-- Roboto and Roboto Mono fonts from Google Fonts-->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,500" rel="stylesheet" />
        <!-- Load main stylesheet-->
        <link href="static/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Layout wrapper-->
        <div id="layoutError">
            <!-- Layout content-->
            <div id="layoutError_content">
                <!-- Main page content-->
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-6">
                                <!-- Error message content-->
                                <div class="text-center my-5 mt-sm-10">
                                    <h1>404 - Page not found</h1>
                                    <p class="lead">Your request resulted in an error.</p>
                                    <a class="btn btn-primary" href="/">
                                        <i class="material-icons leading-icon">arrow_back</i>
                                        Return to Dashboard
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <!-- Load Bootstrap JS bundle-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <!-- Load global scripts-->
        <script type="module" src="js/material.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>
