{% extends "pages/index.html" %}

{% block content %}
<main>
    <div class="container-xl p-5">
        <section class="mb-5" id="getting-started">
            <div class="d-flex align-items-center mb-3">
                <h2 class="mb-0">Getting Started</h2>
                <button class="btn btn-text-dark btn-icon btn-lg text-muted ms-2" type="button"><i class="material-icons">link</i></button>
            </div>
            <p>Welcome to the Damn Vulnerable Drone (DVD) platform! Here you'll find everything you need to begin your drone hacking journey.</p>
            <div class="alert alert-danger" role="alert"><b>Disclaimer:</b> The Damn Vulnerable Drone (DVD) platform is provided solely for educational and research purposes. Users are expected to adhere to ethical hacking principles, respecting privacy and laws, and must not use skills or knowledge acquired from Damn Vulnerable Drone for malicious activities. The creators and maintainers of Damn Vulnerable Drone are not liable for any misuse of the platform. By using Damn Vulnerable Drone, you agree to use it responsibly and within legal boundaries. Damn Vulnerable Drone is highly insecure, and as such, should not be deployed on drone hardware or internet facing servers. It is intentionally flawed and vulnerable, as such, it comes with no warranties.</div>

        </section>
        <hr class="my-5" />
        <!-- Knowledgebase content row-->
        <div class="row gx-5">
            <div class="col-lg-9">
                <!-- Title section-->
                
                <!-- Divider-->
                
                <!-- Segment-->
                <div id="what-is-damn-vulnerable-drone">
                    <section class="mb-2">
                        <div class="d-flex align-items-center mb-3">
                            <h3 class="mb-0">What is Damn Vulnerable Drone?</h3>
                            <button class="btn btn-text-dark btn-icon btn-lg text-muted ms-2" type="button"><i class="material-icons">link</i></button>
                        </div>
                        <p class="mb-4">Damn Vulnerable Drone is a virtually simulated environment designed for offensive security professionals to safely learn and practice drone hacking techniques. It simulates real-world <a class="link" target="_blank" href="https://ardupilot.org/">ArduPilot</a> & <a class="link" target="_blank" href="https://mavlink.io/en/">MavLink</a> drone architectures and vulnerabilities, offering a hands-on experience in exploring and exploiting drone systems. Damn Vulnerable Drone aims to enhance offensive security skills within a controlled, ethical framework, making it an invaluable tool for intermediate-level security professionals, pentesters, and hacking enthusiasts.</p>
                        
                    </section>
                </div>
                <div id="why-was-it-built">
                    <section class="mb-5">
                        <div class="d-flex align-items-center mb-3">
                            <h4 class="mb-0">Why was it built?</h4>
                            <button class="btn btn-text-dark btn-icon btn-lg text-muted ms-2" type="button"><i class="material-icons">link</i></button>
                        </div>
                        
                        <p>Flight simulators have been used for decades in the aviation industry to train pilots on how to use and get familiar with complex aircraft systems. Recent advances in open-source flight controllers, ground control software and simulators have extended this capability to the world of autonomous drones and UAVs (unmanned aerial vehicles).</p>
                        <p>Similar to how pilots utilize flight simulators for training, we can use the Damn Vulnerable Drone simulator to gain in-depth knowledge of real-world drone systems, understand their vulnerabilities, and learn effective methods to exploit them.</p>
                        <p>The Damn Vulnerable Drone platform is <a class="link" target="_blank" href="https://github.com/nicholasaleks/Damn-Vulnerable-Drone">open-source</a> and available at no cost and was specifically designed to address the substantial expenses often linked with drone hardware, hacking tools, and maintenance. Its cost-free nature allows users to immerse themselves in drone hacking without financial concerns. This accessibility makes Damn Vulnerable Drone a crucial resource for those in the fields of information security and penetration testing, promoting the development of offensive cybersecurity skills in a safe and ethical environment.</p>
                    </section>
                </div>
                <div id="how-does-it-work">
                    <section class="mb-5">
                        <div class="d-flex align-items-center mb-3">
                            <h4 class="mb-0">How does it work?</h4>
                            <button class="btn btn-text-dark btn-icon btn-lg text-muted ms-2" type="button"><i class="material-icons">link</i></button>
                        </div>
                        <p>The Damn Vulnerable Drone platform operates on the principle of <a target="_blank" class="link" href="https://ardupilot.org/dev/docs/sitl-simulator-software-in-the-loop.html">Software-in-the-Loop (SITL)</a>, a simulation technique that allows users to run drone software as if it were executing on an actual drone, thereby replicating authentic drone behaviors and responses.</p>
                        <img src="/static/images/a43dbcd7-10b0-4f7a-b920-5925bac59642.gif" class="img-fluid rounded-3 mb-4" alt="Damn Vulnerable Drone Simulator Screenshot" />
                        <p>ArduPilot's SITL allows for the execution of the drone's firmware within a virtual environment, mimicking the behavior of a real drone without the need for physical hardware. This simulation is further enhanced with <a target="_blank" class="link" href="https://gazebosim.org/home">Gazebo</a>, a dynamic 3D robotics simulator, which provides a realistic environment and physics engine for the drone to interact with. Together, ArduPilot's SITL and Gazebo lay the foundation for a sophisticated and authentic drone simulation experience.</p>
                        <p>While the current Damn Vulnerable Drone setup doesn't mirror every drone architecture or configuration, the integrated tactics, techniques and scenarios are broadly applicable across various drone systems, models and communication protocols.</p>
                    </section>
                </div>
                <div id="how-should-i-use-damn-vulnerable-drone">
                    <section class="mb-5">
                        <div class="d-flex align-items-center mb-3">
                            <h3 class="mb-0">How should I use Damn Vulnerable Drone?</h3>
                            <button class="btn btn-text-dark btn-icon btn-lg text-muted ms-2" type="button"><i class="material-icons">link</i></button>
                        </div>
                        <p>Follow these steps to get the most out of DVD:</p>

                        <h4>Step 1: Read the Basic Operations Guide</h4>
                        <p>Delve into the <a class="link" href="/guide/basic-operations">Basic Operations</a> guide. This document will help you navigating the environment, as well as the tool you'll use to initially interact with the drone by engaging it's flight states. (<i>Within the simulator, we assume flight states are triggered by the ground control station "operator", and not you, the drone hacker</i>)</p>
                        
                        
                        <h4>Step 2: Review the System Architecture </h4>
                        <p>Get a better idea of the Damn Vulnerable Drone <a class="link" href="/guide/system-architecture">System Architecture</a>. This will outline the core components used in a typicaly drone-stack, including flight controlls, ground control stations, and companion computers. This part will also help steer you away from accidently attacking the simulator infrastructure (preventing you from breaking DVD)</p>
                        
                        <h4>Step 3: Execute a Simulation Health Check</h4>
                        <p>After getting familiar with the Simulator, you'll want to run a <a class="link" href="/guide/system-health-check">System Health Check</a>. This will ensure that all of the Damn Vulnerable Drone systems have been installed properly and are ready for testing.</p>
                    
                        <h4>Step 4: Start the Attack Scenarios</h4>
                        <p>Next, actively engage with the <a class="link" href="/attacks">Attack Scenarios</a> presented by DVD. Start with reconnaissance to understand the simulated environment you're working in, then methodically progress through the scenarios from wireless attacks to data exfiltration. For users who have set up DVD with virtual wifi, you can explore the Wireless Network Attack scenarios to deepen your understanding of network vulnerabilities. If you didn't install the virtual wifi component, it's assumed you have network access, and you can skip directly to focusing on other vulnerabilities within the drone's network.</p>
                        
                    </section>
                </div>
                <div id="tips-for-success">
                    <section class="mb-5">
                        <div class="d-flex align-items-center mb-3">
                            <h4 class="mb-0">Tips for Success</h4>
                            <button class="btn btn-text-dark btn-icon btn-lg text-muted ms-2" type="button"><i class="material-icons">link</i></button>
                        </div>
                        <div class="row">
                            <div class="col-6 mb-3">
                                <div class="alert alert-dark mb-0" role="alert">
                                    <span class="fw-500 text-expanded">Tip 1: Embrace the Learning Journey</span><br>
                                    No prior drone knowledge is required to start. Use the platform as a learning tool to understand drone protocols and systems from an offensive security perspective. Start by exploring the drone's architecture, firmware, and communication protocols through the provided <a href="/learning">Learning Resources</a>.</div>
                            </div>
                            <div class="col-6 mb-3">
                                <div class="alert alert-dark mb-0" role="alert">
                                    <span class="fw-500 text-expanded">Tip 2: Master the Simulator</span><br>
                                    Gain proficiency with the simulator. <a class="link" href=/guide/basic-operations">Basic operations</a> like "Reset View" and "Reset Simulator" are crucial for effective navigation and troubleshooting. For more complex issues, refer to the <a class="link" href="/guide/troubleshooting">Troubleshooting</a> section for guidance on Docker container rebuilding.</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 mb-3">
                                <div class="alert alert-dark mb-0" role="alert">
                                    <span class="fw-500 text-expanded">Tip 3: Challenge Yourself with Attack Scenarios</span><br>
                                    Before referring to the <a class="link" href="/solutions">Solutions Guide</a>, try to exploit built-in vulnerabilities. This hands-on approach will enhance your problem-solving skills and deepen your technical understanding.</div>
                            </div>
                            <div class="col-6 mb-3">
                                <div class="alert alert-dark mb-0" role="alert">
                                    <span class="fw-500 text-expanded">Tip 4: Set Strategic Goals</span><br>
                                    Get comfortable with high-level hacking techniques against flight controllers, companion computers and ground control systems.</div>
                            </div>
                        </div>
                    </section>
                    <!-- Divider-->
                    <hr class="my-5" />
                </div>
                <div id="how-not-to-use-damn-vulnerable-drone">
                    <section class="mb-5">
                        <div class="d-flex align-items-center mb-3">
                            <h3 class="mb-0">How should I <u>not</u> use Damn Vulnerable Drone?</h3>
                            <button class="btn btn-text-dark btn-icon btn-lg text-muted ms-2" type="button"><i class="material-icons">link</i></button>
                        </div>
                        <p>Damn Vulnerable Drone is an educational platform designed for offensive security learning and enhancing cybersecurity practices, and should not be used as a means to engage in unauthorized probing or attacks on real-world drone systems. It is imperactive that users do not leverage the tools, techniques, and/or knowledge gained from Damn Vulnerable Drone to compromise the security of live drone and/or aircraft systems without explicit permission.</p>
                        <p>Misuse of the Damn Vulnerable Drone platform may lead to legal consequences. Always use Damn Vulnerable Drone responsibily, with the intention of improving security and sharing knowledge within the bounds of local laws.</p>
                        
                        <p>Below are some additional ways Damn Vulnerable Drone should not be use:</p>
                        <p class="small">
                            <span class="fw-500 text-expanded">1. Don't upload Damn Vulnerable Drone firmware to any drone hardware.</span>
                        </p>
                        <p class="small">
                            <span class="fw-500 text-expanded">2. Don't target the simulation infrastructure as this may break Damn Vulnerable Drone.</span>
                        </p>
                        <p class="small">
                            <span class="fw-500 text-expanded">3. Don't limit yourself to the attack scenarios.</span>
                        </p>
                    </section>
                    <!-- Divider-->
                    <hr class="my-5" />
                </div>
                <div id="community-support">
                    <section class="mb-5">
                        <div class="d-flex align-items-center mb-3">
                            <h3 class="mb-0">Community Support</h3>
                            <button class="btn btn-text-dark btn-icon btn-lg text-muted ms-2" type="button"><i class="material-icons">link</i></button>
                        </div>
                        <p>The Damn Vulnerable Drone platform thrives on the active participation and collaboration of its user community. This community is a collective of like-minded individuals ranging from cybersecurity enthusiasts to professional ethical hackers, all focused on sharing knowledge and advancing skills in drone security. Whether you're encountering technical issues, seeking advice on tackling scenarios, or looking to discuss the latest trends in drone vulnerabilities, the DVD community is a valuable resource.</p>
                        <p>The community <a class="link" target="_blank" href="https://join.slack.com/t/slack-ghk2217/shared_invite/zt-2celpe33m-cvMB50w_BVsViXnbrLtLHA">Slack Channel</a> is available for users to connect, share experiences, and provide mutual support. Users are encouraged to participate actively, ask questions, and offer help to others. Experienced members of the community often mentor newcomers, fostering a culture of continuous learning and improvement. Remember, every question you ask and every answer you provide helps the entire community grow stronger.</p>
                    </section>
                    <!-- Divider-->
                    <hr class="my-5" />
                </div>
                <div id="feedback-contributions">
                    <section class="mb-5">
                        <div class="d-flex align-items-center mb-3">
                            <h3 class="mb-0">Feedback & Contributions</h3>
                            <button class="btn btn-text-dark btn-icon btn-lg text-muted ms-2" type="button"><i class="material-icons">link</i></button>
                        </div>
                        <p>The platform maintains a <a class="link" target="_blank" href="https://github.com/nicholasaleks/Damn-Vulnerable-Drone">GitHub open source repository</a> where users can submit their contributions. These contributions are reviewed by the maintainers and, if aligned with the project's goals, are integrated into the platform. By contributing, you help ensure that the DVD remains a cutting-edge tool for learning and practicing drone hacking techniques in a safe and ethical manner.</p>
                        <p>If you have developed a new attack scenario, discovered a way to improve the simulation, or created educational content that could benefit others, create a <a class="link" target="_blank" href="https://github.com/nicholasaleks/Damn-Vulnerable-Drone/pulls">GitHub Pull Request</a>. Contributions can take various forms, from code patches and feature suggestions to writing documentation and creating tutorial videos.</p>
                        <p>Feedback is the cornerstone of growth for the Damn Vulnerable Drone platform. Users are encouraged to provide their insights by creating a <a class="link" target="_blank" href="https://github.com/nicholasaleks/Damn-Vulnerable-Drone/issues">GitHub Issue</a>. Do your best to including any challenges faced and suggestions for enhancements. This feedback is invaluable for the ongoing development and refinement of the platform.</p>
                    </section>
                    <!-- Divider-->
                    <hr class="my-5" />
                </div>
                <!-- Related Articles-->
                <h3 class="overline">Additional Documentation</h3>
                <div class="row">
                    <div class="col-3 col-sm-6 mb-4">
                        <div class="card card-raised ripple-gray">
                            <div class="card-body">
                                <div class="card-title"><h6>Basic Operation Guide</h6></div>
                                <p class="card-text">A guide to help you understand how to navigate, and control the simulator</p>
                            </div>
                            <div class="card-actions">
                                <a class="card-link text-muted text-decoration-none stretched-link" href="/guide/basic-operations"></a>
                                <i class="material-icons text-muted rotate-45">arrow_upward</i>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 col-sm-6 mb-4">
                        <div class="card card-raised ripple-gray">
                            <div class="card-body">
                                <div class="card-title"><h6>System Health Check</h6></div>
                                <p class="card-text">Run a system health check to ensure all Drone stack components are working properly</p>
                            </div>
                            <div class="card-actions">
                                <a class="card-link text-muted text-decoration-none stretched-link" href="/guide/system-health-check"></a>
                                <i class="material-icons text-muted rotate-45">arrow_upward</i>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 col-sm-6 mb-4">
                        <div class="card card-raised ripple-gray">
                            <div class="card-body">
                                <div class="card-title"><h6>Learning Resources</h6></div>
                                <p class="card-text">Review external documentation on drone systems & hacking utilities</p>
                            </div>
                            <div class="card-actions">
                                <a class="card-link text-muted text-decoration-none stretched-link" href="/guide/learning"></a>
                                <i class="material-icons text-muted rotate-45">arrow_upward</i>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 col-sm-6 mb-4">
                        <div class="card card-raised ripple-gray">
                            <div class="card-body">
                                <div class="card-title"><h6>Attack Scenarios</h6></div>
                                <p class="card-text">Review external documentation on drone systems & hacking utilities</p>
                            </div>
                            <div class="card-actions">
                                <a class="card-link text-muted text-decoration-none stretched-link" href="/attacks"></a>
                                <i class="material-icons text-muted rotate-45">arrow_upward</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-5 mb-lg-0">
                <!-- Side column sticky navigation stick-->
                <div class="sticky-top nav-stick">
                    <div class="nav-heading">Contents</div>
                    <ul class="nav flex-column" id="navStick">
                        <li class="nav-item"><a class="nav-link" href="#getting-started">Getting Started</a></li>
                        <li class="nav-item">
                            <a class="nav-link" href="#what-is-damn-vulnerable-drone">What is Damn Vulnerable Drone?</a>
                            <ul class="nav flex-column mt-0 ms-3">
                                <li class="nav-item"><a class="nav-link border-0" href="#why-was-it-built">Why was it built?</a></li>
                                <li class="nav-item"><a class="nav-link border-0" href="#how-does-it-work">How does it work?</a></li>
                                <li class="nav-item"><a class="nav-link border-0" href="#architecture-overview">Architecture Overview</a></li>
                                <li class="nav-item"><a class="nav-link border-0" href="#flight-states">Flight States</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#how-should-i-use-damn-vulnerable-drone">How should I use Damn Vulnerable Drone?</a>
                            <ul class="nav flex-column mt-0 ms-3">
                                <li class="nav-item"><a class="nav-link border-0" href="#tips-for-success">Tips for Success</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#how-not-to-use-damn-vulnerable-drone">How <u>not</u> to use Damn Vulnerable Drone</a></li>
                        <li class="nav-item"><a class="nav-link" href="#community-support">Community Support</a></li>
                        <li class="nav-item"><a class="nav-link" href="#feedback-contributions">Feedback & Contributions</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}