<?xml version="1.0"?>
<model>
  <name>Operator</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Nick Aleks</name>
    <email>naleks@asec.io</email>
  </author>
  <description>
    The drone operator, used in the damn vulnerable drone security simulation.
  </description>
</model>