{% extends "pages/index.html" %}

{% block content %}
<main>
    <div class="container-xl p-5">
        <section class="mb-4">
            <div class="d-flex align-items-center mb-0">
                <h2 class="mb-0">Packet Sniffing</h2>
                <button class="btn btn-text-dark btn-icon btn-lg text-muted ms-2" type="button"><i class="material-icons">link</i></button>
            </div>
            <p class="mb-3">
                Capturing MAVLink packets transmitted over the air to analyze drone communications.
            </p>
            <div class="alert bg-light show pb-0" role="alert">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/attacks" class="link">Attack Scenarios</a></li>
                        <li class="breadcrumb-item">Reconnaissance</li>
                        <li class="breadcrumb-item active" aria-current="page">Packet Sniffing</li>
                    </ol>
                </nav>
            </div>
        </section>
        <!-- Knowledgebase content row-->
        <div class="row gx-5">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-6">
                        <div id="description">
                            <section class="mb-2">
                                <div class="d-flex align-items-center mb-3">
                                    <h4 class="mb-0">Description</h4>
                                    <button class="btn btn-text-dark btn-icon btn-lg text-muted ms-2" type="button"><i class="material-icons">link</i></button>
                                </div>
                                <p class="mb-4">
                                    MAVLink packet sniffing involves intercepting the MAVLink messages exchanged between UAVs
                                    (Unmanned Aerial Vehicles) and ground control stations or between UAVs in a network.
                                    This technique is crucial for developers, security researchers, and enthusiasts to
                                    understand the operational dynamics of MAVLink communication, perform security audits,
                                    and develop or improve MAVLink-based systems. By analyzing the captured packets, one can
                                    gain insights into the drone's operational status, commands being sent or received, and
                                    how the system handles various data types, which is invaluable for both educational and
                                    security-enhancing purposes.</p>
                            </section>
                        </div>
                    </div>
                    <div class="col-6">
                        <div id="solution">
                            <section class="mb-2">
                                <div class="d-flex align-items-center mb-3">
                                    <h4 class="mb-0">Resources</h4>
                                    <button class="btn btn-text-dark btn-icon btn-lg text-muted ms-2" type="button"><i class="material-icons">link</i></button>
                                </div>
                                <ul>
                                    <li><a class="link" target="_blank" href="https://www.wireshark.org/">Wireshark</a></li>
                                </ul>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div id="solution">
                            <section class="mb-2">
                                <div class="d-flex align-items-center mb-3">
                                    <h4 class="mb-0">Solution Guide</h4>
                                    <button class="btn btn-text-dark btn-icon btn-lg text-muted ms-2" type="button"><i class="material-icons">link</i></button>
                                </div>
                                <p>
                                    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseSolution" role="button" aria-expanded="false" aria-controls="collapseSolution">
                                    Reveal Solution (Spoiler Alert)
                                    </a>
                                </p>
                                <div class="collapse" id="collapseSolution">
                                    <div class="alert alert-success">
                                        <h5 class="mb-3">Step 1</h5>
                                        <div class="row">
                                            <div class="col-12">
                                                <p>
                                                    We will be using Wireshark to analyze the real-time MavLink traffic. This should already be installed with your Kali Linux distribution. If not, you can install it by following the documentation here: https://www.wireshark.org/download.html
                                                </p>
                                            </div>
                                        </div>
                                        <h5 class="mb-3 mt-3">Step 2</h5>
                                        <div class="row">
                                            <div class="col-12">
                                                <p>
                                                    Install MAVLink on Kali (following the guide here: https://mavlink.io/en/getting_started/installation.html)
                                                </p>
                                                <code>
                                                    sudo apt install python3 python3-pip <br>
                                                    git clone https://github.com/mavlink/mavlink.git --recursive <br>
                                                    cd mavlink <br>
                                                    python3 -m pip install -r pymavlink/requirements.txt
                                                </code>
                                            </div>
                                        </div>
                                        <h5 class="mb-3 mt-3">Step 3</h5>
                                        <div class="row">
                                            <div class="col-12">
                                                <p>
                                                    Build libraries for your target dialect, specifing WLua as the target language. This process is described in the topic Generate MAVLink Libraries.
                                                </p>
                                                <code>
                                                    python3 -m pymavlink.tools.mavgen --lang=WLua --wire-protocol=2.0 --output=mavlink_2_common message_definitions/v1.0/common.xml <br>
                                                </code>
                                            </div>
                                        </div>
                                        <h5 class="mb-3 mt-3">Step 4</h5>
                                        <div class="row">
                                            <div class="col-12">
                                                <p>
                                                    Update the plugin with correct ports (it should be configured correctly). The last few lines of the plugin file specify the ports to be monitored.
                                                </p>
                                                <code>
                                                    -- bind protocol dissector to port 14550 and 14580 <br>
                                                    local udp_dissector_table = DissectorTable.get("udp.port") <br>
                                                    udp_dissector_table:add(14550, mavlink_proto) <br>
                                                    udp_dissector_table:add(14580, mavlink_proto) <br>
                                                    udp_dissector_table:add(18570, mavlink_proto) <br>
                                                </code>
                                            </div>
                                        </div>
                                        <h5 class="mb-3 mt-3">Step 5</h5>
                                        <div class="row">
                                            <div class="col-12">
                                                <p>
                                                    Start Wireshark and select the correct interface to monitor. You should see the MAVLink packets being captured in real-time.
                                                </p>
                                                <img src="/static/">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}