{% extends "pages/index.html" %}

{% block content %}
<main>
    <div class="container-xl p-5">
        <section class="mb-4">
            <div class="d-flex align-items-center mb-0">
                <h2 class="mb-0">Wifi Analysis & Cracking</h2>
                <button class="btn btn-text-dark btn-icon btn-lg text-muted ms-2" type="button"><i class="material-icons">link</i></button>
            </div>
            <p class="mb-3">
                Breaking WiFi security to gain unauthorized access to the drone network.
            </p>
            <div class="alert bg-light show pb-0" role="alert">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/attacks" class="link">Attack Scenarios</a></li>
                        <li class="breadcrumb-item">Reconnaissance</li>
                        <li class="breadcrumb-item active" aria-current="page">Wifi Analysis & Cracking</li>
                    </ol>
                </nav>
            </div>
        </section>
        <!-- Knowledgebase content row-->
        <div class="row gx-5">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-6">
                        <div id="description">
                            <section class="mb-2">
                                <div class="d-flex align-items-center mb-3">
                                    <h4 class="mb-0">Description</h4>
                                    <button class="btn btn-text-dark btn-icon btn-lg text-muted ms-2" type="button"><i class="material-icons">link</i></button>
                                </div>
                                <p class="mb-4">
                                    To penetrate and analyze the security of wireless networks by identifying vulnerabilities in Wi-Fi encryption and authentication mechanisms. This involves capturing network traffic to crack the network's password and gain unauthorized access to the network's data and devices connected to it.</p>
                                <p class="mb-4">
                                    Wi-Fi Analysis and Cracking entails the use of specialized software tools to monitor, capture, and analyze Wi-Fi network traffic. This scenario typically begins with the identification of available Wi-Fi networks and the gathering of information such as the network's SSID (Service Set Identifier), BSSID (Basic Service Set Identifier), and the type of encryption used (WPA, WPA2, WEP, etc.). 
                                </p>
                            </section>
                        </div>
                    </div>
                    <div class="col-6">
                        <div id="solution">
                            <section class="mb-2">
                                <div class="d-flex align-items-center mb-3">
                                    <h4 class="mb-0">Resources</h4>
                                    <button class="btn btn-text-dark btn-icon btn-lg text-muted ms-2" type="button"><i class="material-icons">link</i></button>
                                </div>
                                <ul>
                                    <li><a class="link" target="_blank" href="https://www.aircrack-ng.org/doku.php#documentation">Aircrack-ng</a></li>
                                </ul>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div id="solution">
                            <section class="mb-2">
                                <div class="d-flex align-items-center mb-3">
                                    <h4 class="mb-0">Solution Guide</h4>
                                    <button class="btn btn-text-dark btn-icon btn-lg text-muted ms-2" type="button"><i class="material-icons">link</i></button>
                                </div>
                                <p>
                                    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseSolution" role="button" aria-expanded="false" aria-controls="collapseSolution">
                                    Reveal Solution (Spoiler Alert)
                                    </a>
                                </p>
                                <div class="collapse" id="collapseSolution">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4 class="mb-3">Wifi-Mode Only</h4>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="alert alert-success">
                                                        <h5 class="mb-3">Step 1. Start Airodump-ng</h5>
                                                        <p>
                                                            Capture Beacon frames using wlan0mon (which is already in monitor mode) to identify the target network:
                                                        </p>

                                                        <div class="alert alert-warning">
                                                            <p class="mb-0">
                                                                Note: Damn Vulnerable Drone is configured to use the <code><a target="_blank" href="https://www.kernel.org/doc/html/next/networking/mac80211_hwsim/mac80211_hwsim.html">mac80211_hwsim</a></code> kernel module. This module creates virtual wireless interfaces that can be used to simulate a wireless network. The virtual wireless interface used in this scenario is <code>wlan0mon</code>. However in real-world scenarios, you may need to use the appropriate wireless hardware interfaces capable of monitoring-mode, here is a list of <a target="_blank" href="https://www.youtube.com/watch?v=5MOsY3VNLK8">possible devices</a>.
                                                            </p>
                                                        </div>

                                                        <code class="code mb-3">
                                                            sudo airodump-ng wlan0mon
                                                        </code>

                                                        <img class="img-fluid rounded-3 mb-4" src="/static/images/attacks/wifi-analysis-cracking/airodump1.png">

                                                        <p>
                                                            You should see a network SSID called <code>Drone_Wifi</code>, using <code>WEP</code> encryption, running on channel number <code>6</code> and has a BSSID of <code>02:00:00:00:01:00</code>. Let's make a note of these parameters as they will be used in the next steps.
                                                        </p>
                                                        <div class="alert alert-warning">
                                                            <p>
                                                                Note: If your network card is not in monitor mode, you can use the following commands to enable it.
                                                            </p>

                                                            <code class="code mb-3">
                                                                sudo ip link set wlan0 down <br>
                                                                sudo iw wlan0 set type monitor <br>
                                                                sudo ip link set wlan0 up
                                                            </code>

                                                            <p>
                                                                Alternatively, you can use the airmon-ng tool to enable monitor mode on your network card. This however, may break your Damn Vulnerable Drone simulation network as it requires processes like wpa_supplicant and other network tools to be terminated. You may be required to restart Damn Vulnerable Drone as a result.
                                                            </p>

                                                            <code class="code">
                                                                sudo airmon-ng start wlan0
                                                            </code>
                                                        </div>

                                                        <h5 class="mb-3">Step 2. Capture Wireless Traffic</h5>
                                                        <p>
                                                            Begin capturing packets on channel 6, focusing on the target BSSID, and save the capture to a file:
                                                        </p>
                                                        
                                                        <code class="code mb-3">
                                                            sudo airodump-ng -c 6 --bssid 02:00:00:00:01:00 -w capture wlan0mon
                                                        </code>

                                                        <p>
                                                            Note that we can now click on the "Initial Boot" flight stage to simulate the drone booting up and connecting to the network. This will generate some traffic that can be captured and analyzed. These data packets contain IVs (Initialization Vectors) that can be used to crack the WEP key, our goal is to capture as many of these packets as possible to increase our chances of cracking the WEP key.
                                                        </p>

                                                        <img class="img-fluid rounded-3 mb-4" src="/static/images/attacks/wifi-analysis-cracking/airodump2.png">

                                                        <p>
                                                            As we can see, there is now a couple of Data packets being captured. This is a good sign that the drone is now connected. We can also see a STATION address of <code>02:00:00:00:02:00</code> which is a wifi client that is connected to the <code>Drone_Wifi</code> network. Let's take a note of this other client address as well.
                                                        </p>

                                                        <p>
                                                            Before we can use the captured data to crack the WEP key, we need to generate more traffic. We can do this by initiating ARP replay attacks using the aireplay-ng tool.
                                                        </p>

                                                        <div class="alert alert-warning">
                                                            <p class="mb-0">
                                                                Note: We will need roughly 50,000 packets to crack the WEP key. This can be achieved by either waiting a couple of minutes or we can speed up the process by running the following command for a few minutes.
                                                            </p>
                                                        </div>

                                                        <h5 class="mb-3">Step 3. ARP Replay Attack</h5>
                                                        <p>
                                                            Open a new terminal window. Next, perform an ARP replay attack to increase the number of IVs (Initialization Vectors) for cracking:
                                                        </p>
                                                        
                                                        <code class="code mb-3">
                                                            sudo aireplay-ng --arpreplay -b 02:00:00:00:01:00 -h 02:00:00:00:02:00 wlan0mon
                                                        </code>

                                                        <p>
                                                            After we collect enough IVs, we can cancel our aireplay and airodump processes and proceed to crack the WEP key using the aircrack-ng tool and our new capture-01.cap file.
                                                        </p>

                                                        <h5 class="mb-3">Step 3. Crack the Wi-Fi Key</h5>
                                                        <p>
                                                            Use the captured packets to crack the Wi-Fi password:
                                                        </p>
                                                        
                                                        <code class="code mb-3">
                                                            sudo aircrack-ng capture-01.cap
                                                        </code>

                                                        <img class="img-fluid rounded-3 mb-4" src="/static/images/attacks/wifi-analysis-cracking/key.png">

                                                        <p>
                                                            Let's make a note of the WEP key <code>1234567890</code> as we will need it to connect to the <code>Drone_Wifi</code> network.
                                                        </p>
                                                        

                                                        <h5 class="mb-3">Step 4. Connect to Drone_Wifi Network</h5>
                                                        <p>
                                                            Use the following command to use the wlan3 interface to connect to the <code>Drone_Wifi</code> network:
                                                        </p>

                                                        <code class="code mb-3">
                                                            nmcli dev wifi connect "Drone_Wifi" password "1234567890"
                                                        </code>

                                                        <img class="img-fluid rounded-3 mb-4" src="/static/images/attacks/wifi-analysis-cracking/success.png">

                                                        <p>
                                                            If everything went well, you should now be connected to the <code>Drone_Wifi</code> network. You can use the command below to verify that your wlan3 interface is connected to the network.
                                                        </p>

                                                        <code class="code mb-3">
                                                            ifconfig wlan3
                                                        </code>

                                                        <img class="img-fluid rounded-3 mb-4" src="/static/images/attacks/wifi-analysis-cracking/ip.png">

                                                        <p>
                                                            Congratulations! You have successfully cracked the WEP key and connected to the <code>Drone_Wifi</code> network. Our wlan3 interface has been assigned an IP address of <code>192.168.13.10</code> and is now ready to interact with the drone network.
                                                        </p>

                                                        <h5 class="mb-3">Alternative Solution. Find Laptop Sticky Note</h5>
                                                        <p>
                                                            Another way to get the Wi-Fi password to the Drone_Wifi network is to find the sticky note on the Ground Control Station laptop. This sticky note contains the password to the network.
                                                        </p>

                                                        <img class="img-fluid rounded-3 mb-4" src="/static/images/attacks/wifi-analysis-cracking/password.png">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}