{% extends "pages/index.html" %}

{% block content %}
<main>
    <div class="container-xl p-5">
        <section class="mb-4">
            <div class="d-flex align-items-center mb-0">
                <h2 class="mb-0">Protocol Tampering</h2>
                <button class="btn btn-text-dark btn-icon btn-lg text-muted ms-2" type="button"><i class="material-icons">link</i></button>
            </div>
            <div class="caption mb-3">
                The process of gathering information about target systems to identify vulnerabilities and plan further attacks.
            </div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/attacks">Attack Scenarios</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Reconnaissance</li>
                </ol>
            </nav>
        </section>
        <hr class="mb-3" />
    </div>
</main>
{% endblock %}