{% extends "pages/index.html" %}

{% block content %}
<main>
    <div class="container-xl p-5">
        <section class="mb-4">
            <div class="d-flex align-items-center mb-0">
                <h2 class="mb-0">Camera Gimbal Takeover</h2>
                <button class="btn btn-text-dark btn-icon btn-lg text-muted ms-2" type="button"><i class="material-icons">link</i></button>
            </div>
            <p class="mb-3">
                <span class="alert-warning">🚧 Scenario Under development</span>
            </p>
            <div class="alert bg-light show pb-0" role="alert">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/attacks" class="link">Attack Scenarios</a></li>
                        <li class="breadcrumb-item">Injection</li>
                        <li class="breadcrumb-item active" aria-current="page">Camera Gimbal Takeover</li>
                    </ol>
                </nav>
            </div>
        </section>
        <!-- Knowledgebase content row-->
        <div class="row gx-5">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-6">
                        <div id="description">
                            <section class="mb-2">
                                <div class="d-flex align-items-center mb-3">
                                    <h4 class="mb-0">Description</h4>
                                    <button class="btn btn-text-dark btn-icon btn-lg text-muted ms-2" type="button"><i class="material-icons">link</i></button>
                                </div>
                                <p class="mb-4">
                                    <span class="alert-warning">🚧 Scenario Under development</span>
                                </p>
                            </section>
                        </div>
                    </div>
                    <div class="col-6">
                        <div id="solution">
                            <section class="mb-2">
                                <div class="d-flex align-items-center mb-3">
                                    <h4 class="mb-0">Resources</h4>
                                    <button class="btn btn-text-dark btn-icon btn-lg text-muted ms-2" type="button"><i class="material-icons">link</i></button>
                                </div>
                                <ul>
                                    <!-- <li><a class="link" target="_blank" href="https://www.wireshark.org/">Wireshark</a></li> -->
                                </ul>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div id="solution">
                            <section class="mb-2">
                                <div class="d-flex align-items-center mb-3">
                                    <h4 class="mb-0">Solution Guide</h4>
                                    <button class="btn btn-text-dark btn-icon btn-lg text-muted ms-2" type="button"><i class="material-icons">link</i></button>
                                </div>
                                <p>
                                    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseSolution" role="button" aria-expanded="false" aria-controls="collapseSolution">
                                    Reveal Solution (Spoiler Alert)
                                    </a>
                                </p>
                                <div class="collapse" id="collapseSolution">
                                    <!-- TODO -->
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}