{% extends "pages/index.html" %}

{% block content %}
<main>
    <div class="p-5">
        <section class="mb-5">
            <div class="d-flex align-items-center mb-3">
                <h2 class="mb-0">Attack Scenarios</h2>
                <button class="btn btn-text-dark btn-icon btn-lg text-muted ms-2" type="button"><i class="material-icons">link</i></button>
            </div>
            <p>Below is the full listing of all attack scenarios grouped by tactic. <span style="color: red">Note: Cells in red are only supported in Wifi-Mode (Full-Deploy)</span></p>
        </section>

        <div class="table-responsive-lg">
            <table class="table table-bordered" style="border-bottom: #FFF;">
                <tr>
                    <th class="table-light">Reconnaissance</th>
                    <th class="table-light">Protocol Tampering</th>
                    <th class="table-light">Denial of Service</th>
                    <th class="table-light">Injection</th>
                    <th class="table-light">Exfiltration</th>
                    <th class="table-light">Firmware Attacks</th>
                </tr>
                <tr>
                    <td style="border: none; padding: 0px;">
                        <table class="table table-bordered table-sm">
                            {% for attack in categories['Reconnaissance'] %}
                            <tr>
                                <td class="ripple-gray">
                                    <a class="link" href="{{ attack.link }}">{{ attack.title }}</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </td>
                    <td style="border: none; padding: 0px;">
                        <table class="table table-bordered table-sm">
                            {% for attack in categories['Protocol Tampering'] %}
                            <tr>
                                <td class="ripple-gray">
                                    <a class="link" href="{{ attack.link }}">{{ attack.title }}</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </td>
                    <td style="border: none; padding: 0px;">
                        <table class="table table-bordered table-sm">
                            {% for attack in categories['Denial of Service'] %}
                            <tr>
                                <td class="ripple-gray">
                                    <a class="link" href="{{ attack.link }}">{{ attack.title }}</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </td>
                    <td style="border: none; padding: 0px;">
                        <table class="table table-bordered table-sm">
                            {% for attack in categories['Injection'] %}
                            <tr>
                                <td class="ripple-gray">
                                    <a class="link" href="{{ attack.link }}">{{ attack.title }}</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </td>
                    <td style="border: none; padding: 0px;">
                        <table class="table table-bordered table-sm">
                            {% for attack in categories['Exfiltration'] %}
                            <tr>
                                <td class="ripple-gray">
                                    <a class="link" href="{{ attack.link }}">{{ attack.title }}</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </td>
                    <td style="border: none; padding: 0px;">
                        <table class="table table-bordered table-sm">
                            {% for attack in categories['Firmware Attacks'] %}
                            <tr>
                                <td class="ripple-gray">
                                    <a class="link" href="{{ attack.link }}">{{ attack.title }}</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</main>
{% endblock %}
