{% extends "pages/index.html" %}

{% block content %}
<main>
    <div class="container-xl p-5">
        <section class="mb-5" id="getting-started">
            <div class="d-flex align-items-center mb-3">
                <h2 class="mb-0">Basic Operations</h2>
                <button class="btn btn-text-dark btn-icon btn-lg text-muted ms-2" type="button"><i class="material-icons">link</i></button>
            </div>
            <p>This guide will help you get familiar with the Damn Vulnerable Drone simulator interface.</p>
        </section>
        <hr class="my-5" />
        <!-- Knowledgebase content row-->
        <div class="row gx-5">
            <div class="col-lg-9">
                <div id="what-is-damn-vulnerable-drone">
                    <section class="mb-2">
                        <p class="mb-4">This guide will take you through the practical aspects of navigating and interacting with the DVD Simulator, building upon the foundational understanding you've gained. With a focus on the interface and operational mechanics, we aim to ensure you can effectively utilize the simulator for educational purposes.</p>
                    </section>
                </div>
                <div id="interface-components">
                    <section class="mb-5">
                        <div class="d-flex align-items-center mb-3">
                            <h4 class="mb-0">Interface Components</h4>
                            <button class="btn btn-text-dark btn-icon btn-lg text-muted ms-2" type="button"><i class="material-icons">link</i></button>
                        </div>
                        <p>Understanding the DVD Simulator's interface is crucial for effective navigation and interaction. Here are the key components you'll frequently use:</p>
                        <div class="row">
                            <div class="col-md-12">
                                <span class="fw-500 text-expanded">Main Simulator Window:</span>
                                <img src="/static/images/guides/interface.png" class="img-fluid rounded-3 mb-4" alt="Damn Vulnerable Drone Interface"><br>
                                <p>The focal point of your interaction, displaying the drone and its environment in real time. Here, you'll control and observe the drone's operations.</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <span class="fw-500 text-expanded">Reset Simulator Button:</span>
                                <p>Resets the simulator to its initial state, ideal for starting fresh experiments or resetting after the drone crashes.</p>
                            </div>
                            <div class="col-md-4">
                                <img src="/static/images/guides/reset-simulator.png" class="img-fluid rounded-3 mb-4" alt="Damn Vulnerable Drone Interface"><br>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <span class="fw-500 text-expanded">Pause Simulator Button:</span>
                                <p>Halts the simulation, allowing for paused observation and planning without losing progress.</p>
                            </div>
                            <div class="col-md-4">
                                <img src="/static/images/guides/pause-simulator.png" class="img-fluid rounded-3 mb-4" alt="Damn Vulnerable Drone Interface"><br>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <span class="fw-500 text-expanded">Reset Camera Button:</span>
                                <p>Clicking this eyeball icon resets the camera to the default view in the Main Simulator Window, helpful for regaining orientation.</p>
                            </div>
                            <div class="col-md-4">
                                <img src="/static/images/guides/reset-camera.png" class="img-fluid rounded-3 mb-4" alt="Damn Vulnerable Drone Interface"><br>
                            </div>
                        </div>
                    </section>
                </div>
                <div id="camera-navigation">
                    <section class="mb-5">
                        <div class="d-flex align-items-center mb-3">
                            <h4 class="mb-0">Camera Navigation</h4>
                            <button class="btn btn-text-dark btn-icon btn-lg text-muted ms-2" type="button"><i class="material-icons">link</i></button>
                        </div>
                        <p>Camera control and observation within the virtual environment is essential. Use the following controls in the Main Simulator Window for a great 3D experience:</p>
                        <div class="row">
                            <div class="col-md-12">
                                <span class="fw-500 text-expanded">Pan (Left Click + Drag):</span>
                                <p>Click and drag with the left mouse button to move the view horizontally or vertically.</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <span class="fw-500 text-expanded">Rotate (Shift + Left Click + Drag):</span>
                                <p>Hold Shift and drag with the left mouse button to rotate the view, offering a 360-degree perspective of the drone's environment.</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <span class="fw-500 text-expanded">Zoom In/Out (Scroll Wheel):</span>
                                <p>Scroll up to zoom in for a closer look, or scroll down to zoom out and see more of the environment.</p>
                            </div>
                        </div>
                    </section>
                </div>
                <div id="flight-state-buttons">
                    <section class="mb-5">
                        <div class="d-flex align-items-center mb-3">
                            <h4 class="mb-0">Flight State Buttons</h4>
                            <button class="btn btn-text-dark btn-icon btn-lg text-muted ms-2" type="button"><i class="material-icons">link</i></button>
                        </div>
                        <p>Damn Vulnerable Drone encompasses a range of flight states that are essential for simulating real-world drone operations, crucial for constructing a variety of drone hacking scenarios.</p>
                        <p>The ability to simulate these various flight states is fundamental in DVD, as it allows users to test and exploit different aspects of drone operations. By understanding how a drone behaves in each state, offensive security professionals can better strategize their attack vectors, identify weaknesses in the system, and develop measures to mitigate potential security threats in real-world drone systems.</p>  
                        <div class="row">
                            <div class="col-md-8">
                                <p>These states include:</p>
                                <p class="small">
                                    <span class="fw-500 text-expanded">1. Initial Boot:</span>
                                    <br />
                                    This simulates the drone's startup sequence, where all systems are initialized. Clicking this initial boot will simulate you "pressing" the power on button on the drone flight controller, allowing for the companion computer to establish a connection to it. This phase is critical for security/safety checks, calibration and ensuring communication protocols are setup before flight.
                                </p>
                                <p class="small">
                                    <span class="fw-500 text-expanded">2. Arm & Takeoff</span>
                                    <br />
                                    The phase where the drone transitions from a stationary state to airborne, testing the responsiveness of flight controls and the integrity of take-off protocols. <i>Note: This may take some time to complete as the drone requires <a target="_blank" class="link" href="https://ardupilot.org/copter/docs/common-positioning-landing-page.html">GPS</a> & <a class="link" target="_blank" href="https://ardupilot.org/copter/docs/common-apm-navigation-extended-kalman-filter-overview.html">EKF3</a> to be ready)</i>
                                </p>
                                <p class="small">
                                    <span class="fw-500 text-expanded">3. Autopilot Flight</span>
                                    <br />
                                    Represents the drone's ability to navigate autonomously based on predefined waypoints or dynamic commands, a vital state for exploring vulnerabilities in navigation and control systems.
                                </p>
                                <p class="small">
                                    <span class="fw-500 text-expanded">4. Emergency / Return-To-Land</span>
                                    <br />
                                    Simulates the drone's emergency protocols, automatically returning to a home location upon triggering fail-safes or loss of control signals, which can be a target for exploitation in hacking scenarios.
                                </p>
                                <p class="small">
                                    <span class="fw-500 text-expanded">5. Post-Flight Data Processing</span>
                                    <br />
                                    This state involves the handling of all data collected during the flight, including telemetry and logs, making it an important phase for understanding data exfiltration and integrity attacks.
                                </p>
                            </div>
                            <div class="col-md-4">
                                <img src="/static/images/flight-states.png" class="img-fluid rounded-3 mb-4" alt="Flight States" />
                            </div>
                        </div>
                        
                    </section>
                    <!-- Divider-->
                    <hr class="my-5" />
                </div>
            </div>
            <div class="col-lg-3 mb-5 mb-lg-0">
                <!-- Side column sticky navigation stick-->
                <div class="sticky-top nav-stick">
                    <div class="nav-heading">Contents</div>
                    <ul class="nav flex-column" id="navStick">
                        <li class="nav-item"><a class="nav-link" href="#interface-components">Interface Components</a></li>
                        <li class="nav-item"><a class="nav-link" href="#camera-navigation">Camera Navigation</a></li>
                        <li class="nav-item"><a class="nav-link" href="#flight-state-buttons">Flight State Buttons</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}